.App {
  text-align: center;
  font-family: Trebuchet MS;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  background-color: #ebeaff;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.navbar-dark {
  background-color: #0900ff;
  vertical-align: center;
}
.navbar-brand {
  font-family: Trebuchet MS;
  font-weight: bold;
  font-size: 1.6rem;
}

.nav-link {
  color: white;
  font-family: Trebuchet MS;
  font-weight: bolder;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.active {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav-link:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}






