.footer{
  background-color: #ebeaff;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

/*.navbar-dark {
  background-color: #0900ff;
  vertical-align: center;
}
.navbar-brand {
  font-family: Trebuchet MS;
  font-weight: bold;
  font-size: 1.6rem;
}

.nav-link {
  color: white;
  font-family: Trebuchet MS;
  font-weight: bolder;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.active {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav-link:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}*/






